

<div class="card mb-3 mt-4 mx-auto" *ngFor="let post of posts">

    <!-- Card Header -->
      <div class="card-header">
          <div class="container">
            <div class="row">
              <a href=""><img src="" class="rounded-circle smallPic" alt=""></a>
              <a href=""><strong>{{ post.username }}</strong></a>
            </div>
          </div>
        </div>
  
        <!-- Card Image -->
      <img class="card-img-top" src="{{post.photo}}" alt="Card image cap">
  
      <!-- Card body -->
      <div class="card-body">
        <div class="card-body padding0">
          <button *ngIf="!post.totalLikes" class="ig_sprites hw24 borderNone outlineNone" id="heart" (click)="LikePost(post.id)"></button>
          <button *ngIf="post.totalLikes > 0" class="ig_sprites hw24 borderNone outlineNone" id="heart2" (click)="LikePost(post.id)"></button>
  
          <button class="ig_sprites hw24 borderNone outlineNone" id="comment"></button>
          <span *ngIf="!postSaved" class="ig_sprites hw24 borderNone outlineNone" id="save" (click)="save()"></span>
          <span *ngIf="postSaved === true" class="ig_sprites hw24 borderNone outlineNone" id="saved" (click)="unSave()"></span>
    
        </div>
        <strong *ngIf="post.totalLikes == 0">No likes yet! {{ post.totalLikes}}</strong>
        <strong *ngIf="post.totalLikes == 1">{{ post.totalLikes }} like</strong>
        <strong *ngIf="post.totalLikes > 1">{{ post.totalLikes}} likes</strong>
  
        <p class="card-text"><strong>{{ post.username }} </strong> {{ post.caption }}</p>
  
        <p class="card-text text-muted">Load more comments</p>
  
        <p *ngFor="let say of post['comments'] "class="card-text"><strong> </strong> {{ say.comment}}</p>
  
        <hr>
        <form action="">
          <input type="text" name="comment" placeholder="Add a comment...">
          <button class="btn btn-primary">Submit</button>
        </form>
        <p class="card-text"><small class="text-muted">1 day ago</small></p>
      </div>
    </div>