/*
====================
Home Styling
====================
*/
.smallPic {
    height: 24px;
}

.borderNone {
    border: none;
}

.outlineNone {
    outline: none;
}


button.ig_sprites {
    margin-right: 5px;
}
