<!-- <p>
  <img src="{{user.userImage || 'https://image.freepik.com/free-icon/male-user-profile-picture_318-37825.jpg'}}" alt="">
</p> -->

<!-- 
<form>
  <input type="file" ng-disabled="uploading" style="display: none;">
  <button class="btn btn-primary" ng-disabled="uploading">Upload</button>
</form>

<br>


<img src="{{ thumbnail.dataUrl}} || https://www.google.com/search?biw=709&bih=658&tbm=isch&sa=1&ei=PaWFW4G-L8eyzwLk3pTYDQ&q=profile+pic+placeholder&oq=profile+pic+placeholder&gs_l=img.3...1699.3068.0.3204.12.7.0.0.0.0.265.487.2-2.2.0....0...1c.1.64.img..12.0.0....0.ibUIO1Bk02c#imgrc=ktJcQY5gL4tueM:" alt="">

<br>

<div ng-show="message">
  <div class="alert">{{ message }}</div>
</div> -->

<!-- <form>
<div class="form-group">
    <label for="">Upload Image</label>
    <input [(ngModel)]="user.userImage" name="username" type="file" class="form-control rounded-0" required>
  </div>

<button (click)="l()" type="button" class="btn btn-primary float-right">Register</button>
</form> -->

<!-- <h1>File Upload</h1>
<img *ngIf="image" src="{{image}}" alt=""> 
<input type="file" (change)="onFileSelected($event)">

<button class="btn btn-primary" (click)="onUpload()">Upload</button> -->

<div>
    <div>
      <input type="file" (change)="createFormData($event)">
    </div>
    <button (click)="upload()">Upload</button>
  </div>